*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

img{
    height: 100%;
}

/*Nav Bar*/

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    padding-top: 30px;
    padding-left: 100px;
    
}

.nav-logo-img{
    width: 80px;
    height: auto;
}

.links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

.links > li{
    margin-right: 20px;
    cursor: pointer;
}

.cover-container{
    background: url(/Images/cover-photo2.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.cover-content{
    padding: 40vh 0 8vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-heading{
    font-family: Franklin Gothic Medium;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    
    
}

.btn-join{
    background-color: #0078be;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    width: 120px;
    height: 50px;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.link-nav-bar{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 3px;
}

.link-nav-bar:hover{
    background-color: hsla(110, 67%, 94%, 0.2);
    
}

/*Solid Foundations container*/

.solid-foundations{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    margin-left: 15px;
    margin-left: 15px;
    box-sizing: inherit;
    padding-bottom: 30px;
}

.five-sf{
    text-align: center;
    padding: 50px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5f5f5;
}

.sf-paragraph{
    font-family:sans-serif;
    color: rgb(106, 108, 110);
    font-weight: bold;
    margin: 10px;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 200px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

.cards:hover{
    background-color: #d9e2e7;
}

.cards:last-child:hover{
    background-color: rgb(233, 195, 195);
}

.sf-img{
    width: 50px;
    height: 40px;
}

/*Video Container*/
.video-image{
    display: flex;
    justify-content: center;
    
}

.img-photo{
    width: 20%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.explore-vision{
    background-image: url(/Images/bdd-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

/*Join BDD Container*/

.join-bdd-heading{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-weight: 400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.17em;
}

.join-bdd-flex{
    background-image: url(/Images/join-bdd-img.png);
    background-repeat: no-repeat;
    background-size: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

}

li{
    list-style-type: none;
}

.join-bdd-cards{
    background-image: url(/Images/background-bdd-join.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 500px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 7%);
    
}

.join-bdd-words{
    font-size: 1rem;
    font-weight: 400;
    color: #292b2c;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-more{
    background-color: #0078be;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    width: 120px;
    height: 50px;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.join-bdd-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding-bottom: 40px;
    font-size: 400;
    font-weight: 200;
    text-decoration-color: #5e5b5b;
}

.join-bdd-store{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bdd-store-img{
    width: 50%;
    height: auto;
}

.download-store{
    display: flex;
    flex-direction: row;
}
/*Parallax Light Container*/
.parallax-light-container{
    background-image: url(/Images/parallax-light.jpg);

}

.preferred-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 24px;
    font-weight: bold;
    color: #212121;
}

.preferred-hub{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    padding-bottom: 100px;
    font: 16px;
    color: #646464;
}

.preferred-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.preferred-paragraph{
    text-align: center;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    box-sizing: inherit;
}

/*Trending Container*/
.trending-container{
    background-color: #f5f5f5;
}

.trending{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.trending-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.trending-cards{
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 7%);
}

.trending-paragraph{
    padding-bottom: 30px;
    color: #646464;
    font-size: 1rem;
    margin: 1rem;
}
.trending-second-heading{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    height: 75px;
    padding-top: 10px;
    overflow: hidden;
    color: #212121;
    font-size: 1.1rem;
    font-family: Franklin Gothic Medium;
}

.visit-blog{
    background-color: #0078be;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    width: 180px;
    height: 45px;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.trending-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn-trending-design{
    text-decoration: none;
    color: white;
}

/*Program Container*/

.program-container{
    background-image: url(/Images/people.jpg);
}

.program-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.program-cards{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 50px;
    margin: 1rem!important;
    color: white;
}

.img-program{
    width: 100px;
    height: 100px;
    padding-bottom: 20px;
}

.click-program{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    
}

.program-btn{
    background-color: #0078be;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    width: 400px;
    height: 50px;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer; 
}

/*Words Community*/

.word-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.words-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 40px;

}
.card-word{
    position: relative;
    padding: 1.5rem;
    border-radius: 0.35rem;
    width: 400px;
    height: 200px;
    border: #646464 solid .01rem;
}

.img-card{
    width: 90px;
    height: 70px;
}

/*Footer Container*/

footer{
    background: #212121;
    color: #646464;
    padding: 48px 0px 20px;
    font: 16px;
}

.footer-words{
    color: #f9f9f9;
    font: 13.9px;
}

.footer1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 1px;
    padding-right: 150px;
    padding-left: 150px;
}

.footer-sections{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-top: 10px;
}

form{
    background-color: white;
    width: 250px;
}

.btn-subscribe{
    background-color: #0078be;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    width: 120px;
    height: 50px;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer; 
}

.form-sub{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    padding-top: 50px;
}

form{
    color: #464a4c;
    background-color: transparent;
} 

.form-control{
    background-color: transparent;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    font-size: 1rem;
    padding-top: 25px;
}

.footer-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.social-media-accounts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
}

.flex-store{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.store-img{
    width: 180px;
    height: auto;
    vertical-align: middle;
}

.footer-connect{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding-top: 20px;
}
.connect-us-footer{
    padding-top: 10px;
} 

.white-a{
    color: white;
    text-decoration: none;
}

.webneoo-site{
    text-decoration: none;
    color: blue;
}

.copy-right{
    color: #000000;
}

/* Media Query */

@media only screen and (max-width: 800px) {
    .mobile {
      flex-direction: column;
    }
  
    .media-images > img {
      width: 100%;
    }
  
    .program-images > div {
      width: 100%;
    }

    .top-nav{
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .collapse-navbar ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .collapse-navbar li{
        margin: 5px ;
    }
  }